<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Algoloop.Wpf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <Algoloop.Wpf.Properties.Settings>
      <setting name="MainWindowPlacement" serializeAs="String">
        <value />
      </setting>
      <setting name="StrategyViewSplitter" serializeAs="String">
        <value>220</value>
      </setting>
      <setting name="AccountViewSplitter" serializeAs="String">
        <value>160</value>
      </setting>
      <setting name="MarketViewSplitter" serializeAs="String">
        <value>160</value>
      </setting>
      <setting name="TracksColumnsInfo" serializeAs="String">
        <value />
      </setting>
      <setting name="AccountBalanceColumnsInfo" serializeAs="String">
        <value />
      </setting>
      <setting name="AccountOrdersColumnsInfo" serializeAs="String">
        <value />
      </setting>
      <setting name="AccountPositionsColumnsInfo" serializeAs="String">
        <value />
      </setting>
      <setting name="AccountClosedTradesColumnsInfo" serializeAs="String">
        <value />
      </setting>
      <setting name="MarketSymbolsColumnsInfo" serializeAs="String">
        <value />
      </setting>
      <setting name="MarketSymbolListsColumnsInfo" serializeAs="String">
        <value />
      </setting>
      <setting name="TrackHoldingsColumnsInfo" serializeAs="String">
        <value />
      </setting>
      <setting name="TrackTradesColumnsInfo" serializeAs="String">
        <value />
      </setting>
      <setting name="TrackOrdersColumnsInfo" serializeAs="String">
        <value />
      </setting>
      <setting name="TrackDetailsColumnsInfo" serializeAs="String">
        <value />
      </setting>
      <setting name="Theme" serializeAs="String">
        <value />
      </setting>
      <setting name="FundamentalsColumnsInfo" serializeAs="String">
        <value />
      </setting>
    </Algoloop.Wpf.Properties.Settings>
  </userSettings>
</configuration>
