<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings file="..\..\..\..\secret.config">
    <add key="fxcm-terminal" value="Demo" />
    <add key="fxcm-account-id" value="secret" />
    <add key="fxcm-user-name" value="secret" />
    <add key="fxcm-password" value="secret" />
  </appSettings>
</configuration>
