[*.cs]

# CA1303: Do not pass literals as localized parameters
dotnet_diagnostic.CA1303.severity = silent

# CA1031: Do not catch general exception types
dotnet_diagnostic.CA1031.severity = silent

# CA1060: Move pinvokes to native methods class
dotnet_diagnostic.CA1060.severity = silent

# IDE0051: Remove unused private members
dotnet_diagnostic.IDE0051.severity = silent

# IDE0040: Add accessibility modifiers
dotnet_style_require_accessibility_modifiers = for_non_interface_members:silent

# IDE0055: Fix formatting
dotnet_diagnostic.IDE0055.severity = silent

# CA2227: Collection properties should be read only
dotnet_diagnostic.CA2227.severity = silent
