<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accord" version="3.6.0" targetFramework="net452" />
  <package id="Accord.Fuzzy" version="3.6.0" targetFramework="net452" />
  <package id="Accord.Math" version="3.6.0" targetFramework="net452" />
  <package id="Accord.Statistics" version="3.6.0" targetFramework="net452" />
  <package id="AsyncIO" version="0.1.26.0" targetFramework="net452" />
  <package id="CloneExtensions" version="1.3.0" targetFramework="net452" />
  <package id="CommonServiceLocator" version="2.0.5" targetFramework="net461" />
  <package id="DotNetZip" version="1.13.3" targetFramework="net461" />
  <package id="DynamicInterop" version="0.7.4" targetFramework="net452" />
  <package id="Extended.Wpf.Toolkit" version="3.8.1" targetFramework="net461" />
  <package id="MathNet.Numerics" version="3.19.0" targetFramework="net452" />
  <package id="Microsoft.CodeAnalysis.FxCopAnalyzers" version="2.9.3" targetFramework="net461" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.VersionCheckAnalyzer" version="2.9.3" targetFramework="net461" developmentDependency="true" />
  <package id="Microsoft.CodeQuality.Analyzers" version="2.9.3" targetFramework="net461" developmentDependency="true" />
  <package id="Microsoft.NetCore.Analyzers" version="2.9.3" targetFramework="net461" developmentDependency="true" />
  <package id="Microsoft.NetFramework.Analyzers" version="2.9.3" targetFramework="net461" developmentDependency="true" />
  <package id="MvvmLightLibs" version="5.4.1.1" targetFramework="net452" />
  <package id="NetMQ" version="4.0.0.1" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net452" />
  <package id="NodaTime" version="1.3.4" targetFramework="net452" />
  <package id="QuantConnect.pythonnet" version="1.0.5.30" targetFramework="net461" />
  <package id="System.IO.Compression" version="4.3.0" targetFramework="net461" />
</packages>